<div class="bookListContainer">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Search Name"
      aria-label="Search Name"
      aria-describedby="basic-addon2"
    />
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2">Search</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-success col-3" (click)="onNewbook()">
        New book
      </button>
    </div>
  </div>
  <hr />
  <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
      <th scope="row">
        <app-book-item
          *ngFor="let bookEl of books; let i = index"
          [book]="bookEl"
          [index]="i"
        ></app-book-item>
      </th>
    </table>
  </div>
</div>
