<form class="form-inline md-form mr-auto mb-4">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
  <button class="btn btn-info" type="submit">Search</button>
</form>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewbook()">New book</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-book-item
      *ngFor="let bookEl of books; let i = index"
      [book]="bookEl"
      [index]="i"></app-book-item>
  </div>
</div>

