<div class="bookListContainer">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Search Name"
      aria-label="Search Name"
      aria-describedby="basic-addon2"
    />
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2">Search</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-success col-3" (click)="onNewbook()">
        New book
      </button>
    </div>
  </div>
  <hr />
  <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr style="cursor: pointer;" *ngFor="let books of bookList$ | async; let i = index" [routerLink]="['/book/' + books.id]">
            <th scope="row">{{i+1}}</th>
            <td>{{books.id}}</td>
            <td>{{books.name}}</td>
            <td>{{books.description}}</td>
            <button type="button" class="btn btn-danger btn-sm" (click)="deleteBook(books.id)">Remove</button>
        </tr>
      </tbody>
    </table>
  </div>
</div>
