.header {
  position: fixed;
  height: 80px;
  top: 0px;
  left: 0px;
  right: 0px;
  margin-top: 0px;
}

#body {
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}

.footer {
  position: fixed;
  height: 40px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
